body {
    color:rgb(185, 228, 94);
    text-align: center;
    background: url("https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-0.3.5&s=c65f2c115fffe95ec598c8b69aaeeb03&auto=format&fit=crop&w=800&q=80") no-repeat center/cover;
    font-family: 'Lemonada', cursive;
}

h1 {
    color: white;
    font-family: Monoton;
    font-size: 4.5em;
    margin: 0.2em;
}

.l{
    color:rgb(51, 123, 208);
}

.p{
    color:rgb(217, 95, 42);
}

.a{
    color:rgb(116, 240, 41);
}

.m{
    color:rgb(230, 41, 216);
}

.size-description {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 20px;
    height: 20px;
}

tr{
    background-color: hsla(0, 0%, 100%, 0.65);
}

input[type=number] {
    width: 6em;
}

.pick-description{
    font-size: 1.8em;
    margin: 0.8em 0 0.25em;
}

.canvas-description{
    font-size: 2.3em;
    margin:0;
}

@media screen and (max-width:1600px) {
    body{
      min-height: 80vw;
    }
}

@media screen and (max-width:1000px) {
    body{
      min-height: 120vw;
      font-size: 0.7em;
    }
}

@media screen and (max-width:700px) {
    body{
      min-height: 200vw;
      font-size: 0.5em;
    }
}
